[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
vault_savings = "AwFnaY3xnDaG6MX1JZfpkrTgU8uS12nX4HAMpFz5u4a9"

[programs.devnet]
vault_savings = "AwFnaY3xnDaG6MX1JZfpkrTgU8uS12nX4HAMpFz5u4a9"

[registry]
url = "https://api.devnet.solana.com"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
